body{

font-family: Arial;
background:#0f172a;
color:white;
margin:0;
text-align:center;

}

header{

background:#1e293b;
padding:20px;

}

.container{

width:80%;
margin:auto;
margin-top:30px;

}

#options button{

display:block;
margin:10px auto;
padding:12px;
width:60%;
background:#38bdf8;
border:none;
border-radius:6px;
cursor:pointer;
font-weight:bold;

}

#options button:hover{

background:#0ea5e9;

}

#timer{

font-size:20px;
margin-top:15px;

}

#nextBtn{

margin-top:20px;
padding:10px 20px;
background:#22c55e;
border:none;
border-radius:6px;

}